h1{
  color: green;
  text-align: center;
  font-family: "Noto Serif Georgian";
}
h2{
  color: blue;
  text-align: center;
  font-family: "Noto Sans Georgian";
}
.one{
  color: #ff17b2;
}
.two{
  font-size: 25px;
}
.three{
  background: yellow;
}
